<a href="https://colab.research.google.com/github/Mayuri2201/Titanic-Survival-Prediction-using-NAIVE-BAYES/blob/main/Titanic_Survival_Prediction_using_NAIVE_BAYES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Titanic.xlsx to Titanic.xlsx

In [3]:
dataset = pd.read_excel("Titanic.xlsx")

In [4]:
print(dataset.shape)
print(dataset.head(5))

(29, 5)
   Pclass Sex   Age  Fare  Survived
0       3   F  47.0    27         0
1       2   M  57.0    14         1
2       2   M   NaN    22         1
3       3   M  59.0    35         1
4       3   F  23.0    34         1

In [5]:
income_set = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'F': 0, 'M': 1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of     Pclass  Sex   Age  Fare  Survived
0        3    0  47.0    27         0
1        2    1  57.0    14         1
2        2    1   NaN    22         1
3        3    1  59.0    35         1
4        3    0  23.0    34         1
5        1    0  48.0    34         1
6        1    0  52.0    51         1
7        3    1  16.0    23         1
8        1    1  27.0    40         1
9        2    0   2.0    49         1
10       1    1  37.0    30         1
11       3    1  22.0    15         0
12       1    0   NaN    31         0
13       2    0  12.0     8         0
14       3    0  19.0    25         0
15       1    1  45.0    43         1
16       3    0  16.0    45         1
17       1    1  49.0    30         0
18       2    0  51.0    47         1
19       2    1   NaN    50         1
20       3    0   6.0    32         1
21       3    0  48.0    31         0
22       2    0   9.0    28         0
23       3    0  24.0    44         0
24       3    0  23.0    45         0
25       2    1  57.0    35         1
26       1    1  29.0    39         1
27       1    0   NaN    38         0
28       2    1  41.0    42         0>

In [6]:
X = dataset.drop('Survived',axis='columns')
X

    Pclass  Sex   Age  Fare
0        3    0  47.0    27
1        2    1  57.0    14
2        2    1   NaN    22
3        3    1  59.0    35
4        3    0  23.0    34
5        1    0  48.0    34
6        1    0  52.0    51
7        3    1  16.0    23
8        1    1  27.0    40
9        2    0   2.0    49
10       1    1  37.0    30
11       3    1  22.0    15
12       1    0   NaN    31
13       2    0  12.0     8
14       3    0  19.0    25
15       1    1  45.0    43
16       3    0  16.0    45
17       1    1  49.0    30
18       2    0  51.0    47
19       2    1   NaN    50
20       3    0   6.0    32
21       3    0  48.0    31
22       2    0   9.0    28
23       3    0  24.0    44
24       3    0  23.0    45
25       2    1  57.0    35
26       1    1  29.0    39
27       1    0   NaN    38
28       2    1  41.0    42

In [7]:
Y = dataset.Survived
Y

0     0
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    0
12    0
13    0
14    0
15    1
16    1
17    0
18    1
19    1
20    1
21    0
22    0
23    0
24    0
25    1
26    1
27    0
28    0
Name: Survived, dtype: int64

In [8]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [11]:
X.Age = X.Age.fillna(X.Age.mean())

In [12]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25,  random_state = 0)

In [16]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
pclassNo = int(input("Enter Person's Pclass number: "))
gender = int(input("Enter Person's Gender 0-F 1-m(0 or 1): "))
age = int(input("Enter Person's Age: "))
fare = int(input("Enter Person's fare: "))
person = [[pclassNo,gender,age,fare]] 
result = model.predict(person)
print(result)

if result == 1:
  print("Person might be Survived")
else:
  print("Person might not be Survived")

Enter Person's Pclass number: 3
Enter Person's Gender 0-F 1-m(0 or 1): 0
Enter Person's Age: 55
Enter Person's fare: 29
[0]
Person might not be Survived

In [19]:
Y_pred = model.predict(X_test)
print(np.column_stack((Y_pred,Y_test)))

[[1 1]
 [0 1]
 [1 0]
 [1 0]
 [1 0]
 [1 1]
 [1 0]
 [1 1]]

In [20]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model: {0}%".format(accuracy_score(Y_test, Y_pred)*100))

Accuracy of the Model: 37.5%